@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
/* Global Reset */
/* line 10, ../MAPA DEV WEEK/assets/sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 16, ../MAPA DEV WEEK/assets/sass/style.scss */
body {
  font-family: 'Outfit', sans-serif;
  background-image: url(../img/fundo-site.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* line 24, ../MAPA DEV WEEK/assets/sass/style.scss */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 50px;
}

/* line 31, ../MAPA DEV WEEK/assets/sass/style.scss */
.header .header__title {
  color: #f1ecff;
}

/* line 35, ../MAPA DEV WEEK/assets/sass/style.scss */
.header .header__pokebolaImg {
  width: 25px;
  height: 25px;
}

/* line 41, ../MAPA DEV WEEK/assets/sass/style.scss */
.pokemon-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 60px 0;
}

/* line 49, ../MAPA DEV WEEK/assets/sass/style.scss */
.pokemon-slider .pokemon-slider__btn {
  background-color: #f1ecff;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* line 60, ../MAPA DEV WEEK/assets/sass/style.scss */
.pokemon-slider .pokemon-slider__btn.btn__back {
  transform: rotateY(180deg);
}

/* line 64, ../MAPA DEV WEEK/assets/sass/style.scss */
.pokemon-slider .pokemon-slider__btn:hover {
  background-color: #8351FE;
}

/* line 72, ../MAPA DEV WEEK/assets/sass/style.scss */
.pokemonList {
  width: 310px;
  height: 520px;
  position: relative;
}

/* line 77, ../MAPA DEV WEEK/assets/sass/style.scss */
.pokemonList .pokemonList__card {
  opacity: 0;
  height: 100%;
  display: flex;
  background-color: blueviolet;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding: 12px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: opacity .3s ease-in-out;
}

/* line 92, ../MAPA DEV WEEK/assets/sass/style.scss */
.pokemonList .pokemonList__card.card__select {
  opacity: 1;
  z-index: 1;
}

/* line 97, ../MAPA DEV WEEK/assets/sass/style.scss */
.pokemonList .pokemonList__card.card__bg1 {
  background-image: url(../img/fundo-card-1.jpg);
  background-repeat: no-repeat;
}

/* line 103, ../MAPA DEV WEEK/assets/sass/style.scss */
.pokemonList .pokemonList__card.card__bg2 {
  background-image: url(../img/fundo-card-2.jpg);
  background-repeat: no-repeat;
}

/* line 109, ../MAPA DEV WEEK/assets/sass/style.scss */
.pokemonList .pokemonList__card.card__bg3 {
  background-image: url(../img/fundo-card-3.jpg);
  background-repeat: no-repeat;
}

/* line 117, ../MAPA DEV WEEK/assets/sass/style.scss */
.info {
  background-color: rgba(179, 177, 185, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
}

/* line 125, ../MAPA DEV WEEK/assets/sass/style.scss */
.info .info__info.info__name {
  color: #f1ecff;
  font-size: 22px;
}

/* line 130, ../MAPA DEV WEEK/assets/sass/style.scss */
.info .info__info.info__life {
  background-color: #333;
  color: #f1ecff;
  padding: 6px 10px;
  border-radius: 20px;
}

/* line 138, ../MAPA DEV WEEK/assets/sass/style.scss */
.containerImg {
  text-align: center;
}

/* line 141, ../MAPA DEV WEEK/assets/sass/style.scss */
.containerImg .containerImg__pokemon-image {
  max-width: 100%;
  max-height: 280px;
  padding: 20px;
}

/* line 149, ../MAPA DEV WEEK/assets/sass/style.scss */
.description {
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* line 154, ../MAPA DEV WEEK/assets/sass/style.scss */
.description .description__title {
  background-color: #333;
  color: #f1ecff;
  font-size: 15px;
  padding: 12px;
}

/* line 161, ../MAPA DEV WEEK/assets/sass/style.scss */
.description .description__text {
  font-size: 14px;
  padding: 12px;
  text-align: justify;
  max-height: 115px;
  overflow-y: auto;
}

/* line 172, ../MAPA DEV WEEK/assets/sass/style.scss */
ul {
  list-style: none;
}

@media (max-width: 620px) {
  /* line 178, ../MAPA DEV WEEK/assets/sass/style.scss */
  .pokemon-slider {
    padding: 0 15px;
    gap: 10px;
  }
  /* line 182, ../MAPA DEV WEEK/assets/sass/style.scss */
  .pokemon-slider .pokemon-slider__btn {
    width: 20px;
    height: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* line 191, ../MAPA DEV WEEK/assets/sass/style.scss */
  .pokemon-slider .pokemonList__Card {
    height: 480px;
  }
  /* line 196, ../MAPA DEV WEEK/assets/sass/style.scss */
  .pokemon-slider .containerImg .pokemon-slider .containerImg__pokemon-image {
    max-height: 230px;
  }
  /* line 203, ../MAPA DEV WEEK/assets/sass/style.scss */
  .info .info__name {
    max-width: 50%;
    font-size: 18px;
  }
  /* line 208, ../MAPA DEV WEEK/assets/sass/style.scss */
  .info .info__life {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */